body {
  margin: 0;
  padding: 0;
  font-family: 'Open-sans', sans-serif;
}

.container {
  width:80%;
  margin:0 auto;
}

.flex {
  display:flex;
  flex-direction: row wrap;
  flex-wrap:wrap;
  justify-content: center;
}

h1 {
  width:100%;
  font-family: 'Lato', sans-serif;
  margin: 0.5em auto;
}
h2 {
  width:100%;
  text-align: center;
  font-size:2em;
}


header {
  min-height: 5em;
  background-color: #f9461c;
  padding: 2em;
  color: #fff;
  text-align: center;
}


section {
    padding: 3em;
    text-align:center;
}

.section1 {
  background-color: #fff;
}

.section3 {
  background-color:#04d8b1;
}



.tiles {
  background-color:#fff;
  width:28%;
  margin: 15px;
  padding:1em;
  text-align: center;
  border-radius: 1em;
  border: 1px solid #fa461c;
  justify-content: center;
}

.tiles h3 {
  padding-bottom:1em;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
}


.coralButton {
  background-color: #f9451e;
  border-radius: 20px;
  border: none;
  height: 40px;
  min-width: 150px;
  font-size:1em;
  color: #fff;
  margin:1em;
  font-family: 'Open Sans', sans-serif;
  padding:10px;
  transition:background-color 0.5s;
  cursor:pointer;
}

.coralButton:hover, .coralButton:focus, .coralButon:active {
  background-color:#000;
  outline: none !important;
    box-shadow: none;
}

.capitalize {
  text-transform: capitalize;
}

.allTodos, .addPost {
  width:100%;
}

.allTodos {
  text-align: left;
}

.allTodosUl {
  width:400px;
  margin:0 auto;
  text-align:left;
}

/*=======================Accordion===================================*/

.Collapsible__trigger {
  display:block;
  height: 60px;
  color: #000;
  text-transform: uppercase;
  background-color: #05d8b1;
  border-radius:0;
  font-size:1.2em;
  cursor:pointer;
  line-height:60px;
  border-bottom: 1px solid #fff;
}

.Collapsible__trigger: hover {
    background-color:#0ceec4;
    color:#000;
}

.form {
  width:500px;
  margin:0 auto;
}

.content {
  padding:2em;
}


/*=====================Media queries==============================*/

@media only screen and (max-width: 1200px) {
  .tiles {
    width:30%;
  }
}

@media only screen and (max-width: 1000px) {
  ul {
    width:25%;
  }
}
@media only screen and (max-width: 600px) {
  .header {
    padding:1em;
    margin-bottom:0;
  }

  h1 {
    font-size:2em;
  }

  h2 {
    font-size:1.5em;
  }

  p, ul {
    font-size:1.2em;
  }

    .tiles {
        width:90%;
  }
  
  ul {
    width:90%;
    padding:10px;
    border-radius:10px;
  }

  li {
    margin-top:10px;
  }

  li p {
    font-size:0.8em;
  }
}





